/*font-section*/


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

nav{
    width: 96%;
    max-width: 1600px;
    display:flex;
    justify-content: space-between;
    margin:0px auto;
}

.nav-menu{
    display:flex;
    gap:32px;
    align-items: center;
    list-style: none;
}

.nav-menu a{
    font-size:16px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

.nav-image{
    max-width: 139px;
    padding: 16px 0 16px 110px;
}

.nav-button button{
    font-size: 16px;
    font-weight:600;
    background-color: #30B868;
    color:#FFFFFF;
    padding: 12px 16px;
    border:none;
    border-radius: 5px;
    cursor:pointer;


} 

.nav-button{
    padding-top: 25px;
    padding-right: 110px;
}

/* nav done */

.color-green{
    color:#30B868;
}
.color-white{
    color:#FFFFFF;
}

#banner{
    max-width: 1600px;
    min-height: 674px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat:no-repeat;
    align-items: center;
}

.button1{
    font-size: 16px;
    font-weight:600;
    background-color: #30B868;
    color:#FFFFFF;
    padding: 12px 16px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    margin-right: 16px;
}

.banner-container{
    margin:0 auto;
    text-align: center;
    padding: 115px 120px 179px;
}

.banner-container h1{
    font-size:72px;
}
.banner-container p{
    font-size:18;
    line-height: 24px;
    margin:0 auto;
    padding: 0px 295px 32px;

}

.button2{
    font-size: 16px;
    font-weight:600;
    background-color: transparent;   
    color:#FFFFFF;
    padding: 12px 16px;
    border:1px solid #FFFFFF;
    border-radius: 5px;
    cursor:pointer;
}

.top-button button{
    font-size: 16px;
    font-weight:600;
    background-color: #FFFFFF ;
    color:#30B868;
    padding: 8px 10px;
    border:none;
    border-radius: 1000px;
    cursor:pointer;
    line-height: 19px;
}

.top-button img{
    
    margin-right: 5px;
    width: 15px;
    height:15px;
}

/*banner done */

#tricks{
    max-width: 1600px;
}

.tricks-container{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.tricks-container h2{
    font-size: 48px;
    font-weight: bold;
}
.tricks-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    
}

.tricks-box {
    max-width: 1360px;
    display: flex;
    gap: 24px; 
    margin: 0 auto;
    justify-content: space-around; 
    margin-top: 44px;

}
.tricks-card {
    max-width: 300px; 
    padding: 24px;
    border:none; 
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0px 8px 0 #e6e1e1;

}
.tricks-card img {
    background-color: #F95555;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    padding: 20px 20px;   

}

.tricks-card h3{
    font-size: 24px;
    font-weight: 600;
}

.tricks-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.lists{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;

}

#solution{
    display: flex;
}

.solution-image img{
    margin-top:120px;
    margin-left:120px;
    height: 600px;
    width: 600px;
    border-radius: 12px;
}

.solution-texts{
    max-width: 700px;
    margin: 222px 120px 120px 60px;
}

.solution-texts h2{
    font-size: 48px;
    font-weight: bold;
}
.para_1{
    font-size: 16px;
    font-weight: 600;
}

.para_2{
    font-size: 16px;
    color:#627382
}

.lists strong{

    line-height: 20px;
    font-size: 16;
}

#join{
    max-width: 1600px;;
}

.join-container{
    background-color: #F7F6F2;
    margin: 0px 120px 120px 120px;
    max-width:1360px;
    text-align: center;
    border-radius:12px ;
}

.join-text h2{
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
}

.join-text p{
    font-size: 16px;
    line-height: 24px;
    color:#627382;
}

.join-para{
    padding-bottom: 80px;
    font-size: 16px;
    line-height: 24px;
    color:#627382;
}

footer{
    max-width: 1600px;
    min-height: 348px;
    background-color: #001931;
    align-items: center;
}
.footer-container{
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1360px;
    padding: 120px 120px 120px 0px;
}
.links{
    font-size: 20px;
    font-weight: 400;
    color:#FFFFFF;
    padding-right: 227px;
    
}

footer p{
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer hr{
    max-width: 1300px;
    border: none;
    height: 1px;
    background-color: #E0E0E0;
    opacity: 0.2;
}

.logos img{
    margin-left: 120px;
}
